@tailwind base;
@tailwind components;
@tailwind utilities;

input:focus-within ~ label,
input:not(:placeholder-shown) ~ label {
  @apply transform duration-300 -translate-y-6;
}

input:not(:focus-within) ~ label {
  @apply transform duration-300 scale-100;
}
